In [1]:
import pandas as pd 
import time
import random
import os
from utils import get_data,data_processing
from datetime import datetime
import uuid

In [3]:
url = ['https://www.espn.com.co/futbol/posiciones/_/liga/esp.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ita.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ger.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/fra.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/por.1',
      'https://www.espn.com.co/futbol/posiciones/_/liga/ned.1']
ligas = ['ESPAÑA','INGLATERRA','ITALIA','GERMANY','FRANCIA','PORTUGAL','HOLANDA']

df_ligas = {
    'LIGA':ligas,
    'URL':url
} 

df_ligas = pd.DataFrame(df_ligas)
df_ligas

         LIGA                                                URL
0      ESPAÑA  https://www.espn.com.co/futbol/posiciones/_/li...
1  INGLATERRA  https://www.espn.com.co/futbol/posiciones/_/li...
2      ITALIA  https://www.espn.com.co/futbol/posiciones/_/li...
3     GERMANY  https://www.espn.com.co/futbol/posiciones/_/li...
4     FRANCIA  https://www.espn.com.co/futbol/posiciones/_/li...
5    PORTUGAL  https://www.espn.com.co/futbol/posiciones/_/li...
6     HOLANDA  https://www.espn.com.co/futbol/posiciones/_/li...

In [4]:
df_ligas['URL'][1]

'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1'

In [18]:
df = pd.read_html(df_ligas['URL'][1])

In [11]:
len(df)

2

In [20]:
df[0]

                       2023/2024
0                    1ARSArsenal
1                  2LIVLiverpool
2            3MCIManchester City
3                4AVLAston Villa
4          5TOTTottenham Hotspur
5           6NEWNewcastle United
6          7MUNManchester United
7            8WHUWest Ham United
8                    9CHEChelsea
9    10BHABrighton & Hove Albion
10  11WOLWolverhampton Wanderers
11                   12FULFulham
12          13BOUAFC Bournemouth
13           14CRYCrystal Palace
14                15BRNBrentford
15                  16EVEEverton
16        17FORNottingham Forest
17               18LTNLuton Town
18                  19BRNBurnley
19   20Sheff UtdSheffield United

In [21]:
df=pd.concat([df[0],df[1]],ignore_index=True,axis=1)
df

                               0   1   2   3   4   5   6   7   8
0                    1ARSArsenal  34  24   5   5  82  26  56  77
1                  2LIVLiverpool  33  22   8   3  75  32  43  74
2            3MCIManchester City  32  22   7   3  76  32  44  73
3                4AVLAston Villa  34  20   6   8  71  50  21  66
4          5TOTTottenham Hotspur  32  18   6   8  65  49  16  60
5           6NEWNewcastle United  32  15   5  12  69  52  17  50
6          7MUNManchester United  32  15   5  12  47  48  -1  50
7            8WHUWest Ham United  34  13   9  12  54  63  -9  48
8                    9CHEChelsea  32  13   8  11  61  57   4  47
9    10BHABrighton & Hove Albion  32  11  11  10  52  50   2  44
10  11WOLWolverhampton Wanderers  33  12   7  14  46  53  -7  43
11                   12FULFulham  34  12   6  16  50  54  -4  42
12          13BOUAFC Bournemouth  33  11   9  13  48  60 -12  42
13           14CRYCrystal Palace  33   9   9  15  42  56 -14  36
14                15BRNBrentford  34   9   8  17  52  59  -7  35
15                  16EVEEverton  33  10   8  15  34  48 -14  30
16        17FORNottingham Forest  34   7   9  18  42  60 -18  26
17               18LTNLuton Town  34   6   7  21  47  75 -28  25
18                  19BRNBurnley  34   5   8  21  37  69 -32  23
19   20Sheff UtdSheffield United  33   3   7  23  31  88 -57  16

In [22]:
df= df.rename(columns={0:'EQUIPO', 1:'J',2:'G',3:'E',4:'P',5:'GF',6:'GC',7:'DIF', 8:'PTS'})
df['EQUIPO']=df['EQUIPO'].apply(lambda x: x[5:] if x[:2].isnumeric()==True else x[4:])
df['LIGA']=df_ligas['LIGA'][1]

In [23]:
df

                     EQUIPO   J   G   E   P  GF  GC  DIF  PTS        LIGA
0                   Arsenal  34  24   5   5  82  26   56   77  INGLATERRA
1                 Liverpool  33  22   8   3  75  32   43   74  INGLATERRA
2           Manchester City  32  22   7   3  76  32   44   73  INGLATERRA
3               Aston Villa  34  20   6   8  71  50   21   66  INGLATERRA
4         Tottenham Hotspur  32  18   6   8  65  49   16   60  INGLATERRA
5          Newcastle United  32  15   5  12  69  52   17   50  INGLATERRA
6         Manchester United  32  15   5  12  47  48   -1   50  INGLATERRA
7           West Ham United  34  13   9  12  54  63   -9   48  INGLATERRA
8                   Chelsea  32  13   8  11  61  57    4   47  INGLATERRA
9    Brighton & Hove Albion  32  11  11  10  52  50    2   44  INGLATERRA
10  Wolverhampton Wanderers  33  12   7  14  46  53   -7   43  INGLATERRA
11                   Fulham  34  12   6  16  50  54   -4   42  INGLATERRA
12          AFC Bournemouth  33  11   9  13  48  60  -12   42  INGLATERRA
13           Crystal Palace  33   9   9  15  42  56  -14   36  INGLATERRA
14                Brentford  34   9   8  17  52  59   -7   35  INGLATERRA
15                  Everton  33  10   8  15  34  48  -14   30  INGLATERRA
16        Nottingham Forest  34   7   9  18  42  60  -18   26  INGLATERRA
17               Luton Town  34   6   7  21  47  75  -28   25  INGLATERRA
18                  Burnley  34   5   8  21  37  69  -32   23  INGLATERRA
19   ff UtdSheffield United  33   3   7  23  31  88  -57   16  INGLATERRA